<mat-card>
  <img src="{{ car.imagePath }}" alt="car image">
  <div class="car-information">
    <mat-card-title>{{ car.carModel.carBrand.name }} {{ car.carModel.name }}</mat-card-title>
    <span>Seating: {{ car.seating }}</span>
    <span>Transmission: {{ car.manual ? "Manual" : "Automatic" }}</span>
    <span>Mileage: {{ car.mileage }}</span>
    <span>Year: {{ car.year }}</span>
    <span>Extra: {{ car.extraInformation }}</span>
  </div>
  <div class="container-edit">
    <button
      mat-raised-button
      class="edit-button accent"
      (click)="openEditDialogCar()"
    >
      Edit
    </button>
  </div>
</mat-card>
