body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 50, 43, 0.8),rgba(0,0,50,0.8)), url('src\assets\background.png');
  background-position: center;
  background-size: cover;
  position: relative;
}

form {
  max-width: 1000px;
  
  
}
input{
  background-color: rgb(204, 204, 230);
  border: 2px solid gray;
  border-radius: 4px;
}
input[type=text]:focus {
  background-color: lightblue;
}
.mx-auto {
  margin: 0 auto 0;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

button {
  max-width: 100px;
  margin-left: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.stepper {
  max-width: 1200px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 30px;
}

.my-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
