.notification-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
  }
  
  .notification-card {
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .notification-card:hover {
    background-color: #eee;
    cursor: pointer;
  }
  
  