<div class="container">
  <h1>Choose your plan:</h1>
  <div class="plans-container">
    <mat-card *ngFor="let plan of plans; let i = index" [ngClass]="getCardColorClass(i)">
      <div class="card-content">
        <div class="circle-container">
          <div class="price-circle">
            <span class="price">{{ plan.price | currency: 'USD': 'symbol' }}</span>
          </div>
        </div>
        <div class="plan-info">
          <h2 class="plan-name">{{ plan.name }}</h2>
          <ul class="plan-features">
            <li *ngFor="let benefit of plan.benefits">
              {{ benefit }}
            </li>
          </ul>
        </div>
        <div class="button-container">
          <button (click)="addPlan(plan.id)" mat-raised-button class="accent" [disabled]="true">
            Comming Soon!!!
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
