<mat-toolbar>
  <img src="assets/logo.png" alt="company image">

  <button
    mat-flat-button
    class="menu-button"
    [mat-menu-trigger-for]="menu"
  >
    <mat-icon matPrefix>
      person
    </mat-icon>
    {{ clientData.names }}
  </button>

  <mat-menu
    #menu
    xPosition="before"
  >
    <button
      mat-menu-item
      *ngFor="let option of menuOptions"
      [routerLink]="option.url"
    >
      {{ option.name }}
    </button>
    <button
      mat-menu-item
      routerLink=""
      (click)="signOut()"
    >
      Sign Out
    </button>
  </mat-menu>
</mat-toolbar>

<ng-container>
  <router-outlet></router-outlet>
</ng-container>
