<div class="container">
  <h1>Your currently plan is:</h1>
  <mat-card *ngIf="plan !== undefined" [ngClass]="getCardColorClass(plan)">
    <div class="card-content">
      <div class="circle-container">
        <div class="price-circle">
          <span class="price">{{ plan.price | currency: 'USD': 'symbol' }}</span>
        </div>
      </div>
      <div class="plan-info">
        <h2 class="plan-name">{{ plan.name }}</h2>
        <ul class="plan-features">
          <li *ngFor="let benefit of plan.benefits">
            {{ benefit }}
          </li>
        </ul>
      </div>
      <div class="button-container">
        <button (click)="deletePlan()" mat-raised-button class="accent" [disabled]="false">
          upgrade
        </button>
      </div>
    </div>
  </mat-card>
</div>
