/*:host{
    display: inline-block;
    max-width: 250px;
    min-width: 160px;
}*/
.container{
    position: relative;
}
.content{
    background: #313242;
    border: solid 1px #313242;
    border-radius: 5px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0px 12px 0 5px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.show .content{
    border: solid 1px #f0a535;
}
/*.show .content{
    border: solid 1px rgb(255, 153, 0);
}*/
.show i{
    transform: rotate(-180deg);
}
.option-text{
    font-size: 1.1rem;
    color: #fff;
}
.content span i{
    color: #f0a535;
    font-size: 1.1rem;
    transition: 0.3s ease;
}
.placeholder{
    color: rgb(143, 143, 143);
}
.options{
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /*transition: 0.3s;*/
    z-index: 2;
    position: absolute;
    width: 100%;
    overflow: hidden;
    border: solid 1px #f0a535;
}