img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
}

div.mat-dialog-content {
  display: flex;
  flex-direction: column;
}

div.mat-dialog-actions {
  display: flex;
  justify-content: right;
}

